body {
  font-family: "Poppins", sans-serif;
}
.carousel-item img {
  max-height: 550px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
#carouselExampleDark {
  min-height: 440px;
  min-width: none;
}
#btn-hero:hover {
  color: #ffc107;
  background-color: black;
}

.fa-check-circle {
  color: #28a745;
}

ul li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  #btn-hero {
    font-size: 1.5rem;
  }
  .hero {
    height: 650px;
  }
}

.hero {
  min-height: 250px;
}
